* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: xxx-large;
    margin: 20px;
}

img {
    width: 60%;
}

.first {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

.second .text {
    text-align: center;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third .text {
    text-align: center;
    justify-content: center;
}

.fourth {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
}

.fourth h2 {
    margin: 20px;
}

.fourth h3 {
    margin: 15px;
}

.fifth {
    background-color: rgb(161, 161, 161);
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
}

.fifth h2 {
    margin: 20px;
}

.fifth a {
    margin: 20px;
    font-size: large;
}